# This file is part of harbour-todolist.
# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: Mirian Margiani

*.user*
*~
*.~*
.directory
.gitignore
build*
dist-old*
tmp*
icon-src/raw
TODO

databases/

libs/opal-translations
libs/opal-docs
