# This file is part of harbour-todolist.
# SPDX-FileCopyrightText: 2020-2021 Mirian Margiani
# SPDX-License-Identifier: GPL-3.0-or-later

[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-todolist
Exec=harbour-todolist
Name=harbour-todolist

# TRANSLATORS
# Please add a new line for your locale below, and translate the name. This is
# the name shown in the launcher menu. The name has to be short enough not to be
# abbreviated by the system. As a rule-of-thumb, around 15 Latin characters
# should be the limit. If your language uses a different script than Latin,
# please test it before submitting your translation.
Name[de]=To-do-Liste
Name[en]=To-do List
Name[sv]=To-do List
Name[pl]=To-do List
Name[zh_CN]=待办列表

[X-HarbourBackup]
BackupPathList=.local/share/harbour-todolist/
# BackupConfigList=/apps/harbour-todolist/
